//
// For now, all registrar specific styling should go here :O
//

.masthead {
  border-bottom: 1px solid $gray-dark;

  .__submenu li {
    a { font-size: 96%; }
  }

  @include mqbp_up(lg) {
    &.\--megamenu {
      #masthead-primary {
        > .__item {
          > a,
          > .__link {
            font-weight: 700;
            color: $gray-800;
          }

          &:hover {
            > a,
            > .__link { color: $red !important; }
          }
        }
      }

      .\+children {
        > .__link {
          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: -5px;
            left: 0;
            right: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 0 none rgba($black, 0);
            margin: 0 auto;
            transition: border-bottom 0.2s ease;
          }
        }

        &:hover {
          > .__link {
            color: $black;
            border-bottom-color: transparent;

            &::before {
              border-bottom: 10px solid rgba($black, 1);
            }
          }

          .__submenu {
            > .\--feature { background-color: rgba(255, 255, 255, 0.15); }
          }
        }

        .__submenu {
          background: $black;

          &::before {
            border-top: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            bottom: 0;
          }

          .__item > a,
          .__link {
            color: #fff;
            text-decoration: underline;
            text-decoration-color: rgba(255, 255, 255, 0);
            transition: text-decoration-color 0.15s ease;

            &:hover {
              color: #fff !important;
              text-decoration: underline;
              text-decoration-color: rgba(255, 255, 255, 0.5);
            }
          }

          .\--heading {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 0;
            text-decoration: none;
            font-size: $fs-d1;
            font-weight: 900;
            color: rgba(255, 255, 255, 0.85);
            transition:
              border-bottom 0.2s ease,
              color 0.2s ease;

            &::after {
              font-family: "feathericons";
              content: "\e922";
              position: absolute;
              top: 1px;
              right: auto;
              margin-left: 0.25rem;
              vertical-align: middle;
              font-size: $fs-d1;
              line-height: 1.2;
              color: rgba(255, 255, 255, 0.1);
              transition: color 0.2s ease;
            }

            &:hover {
              color: rgba(255, 255, 255, 1);
              text-decoration: none;
              border-bottom: 1px solid rgba(255, 255, 255, 0.6);

              &::after { color: rgba(255, 255, 255, 0.7); }
            }
          }
        }
      }
    }

    .\--utility {
      a,
      .__link {
        color: rgba($type-color, 0.9);
      }
    }
  }
}

.section {
  > .__header.\--archive {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-200;

    .__title { font-weight: 300; }
  }
}

.list-group {
  .__item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    h6,
    .__excerpt {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &:hover {
      background: $gray-100;
      color: inherit;
    }
  }

  .\+form {
    i,
    svg {
      left: auto;
      right: 0.25rem;
    }
  }
}

.\--article {
  .--header {
    padding-top: 3rem;
    padding-bottom: 0;

    > .__header {
      .__title {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $gray-200;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }

  .alert {
    &.\--note {
      margin-bottom: 1.5rem;
      background: $yellow-light;

      a {
        color: inherit;
        font-weight: 700;
        border-bottom: 1px solid rgba(#000, 0.25);
      }

      .__body { padding: 1rem; }
    }

    &.\--action { background: rgba($blue-light, 0.4); }
  }

  .tabcontent { background: #fff; }
}

// homepage hero
.\--banner.\+bgimg.\--hero {
  border-bottom: 1px solid rgba(123, 123, 123, 0.9);

  &::after { background: rgba(60, 30, 30, 0.5); }

  .__search {
    background-color: rgba(255, 255, 255, 0.5);

    .__control {
      color: $type-color;

      &::placeholder { color: rgba(0, 0, 0, 0.35); }
    }

    &.\--focus {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.35);
    }

    .btn {
      background: transparent;

      &:hover {
        color: #fff;
        border-color: transparent;
        background: rgba($type-color, 0.9);
      }
    }
  }
}

h3.\--popular {
  font-weight: 900;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  width: auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: $red;
    width: 30%;
    height: 3px;
    border-radius: 2px;
    bottom: 0;
    left: 35%;
    transform: translateY(-50%);
  }
}

ul.\--popular {
  @extend .list--unstyled;

  margin-bottom: 0.75rem;
  column-count: 2;

  li {
    margin-bottom: 0.75rem;

    @include mqbp_up(lg) {
      @include type-sm();
    }

    &:last-child { margin-bottom: 0; }
  }

  a {
    position: relative;
    padding: 0 1.25rem 1px 0;
    color: #fff;
    border-bottom: 2px solid rgba($red, 0.1);
    font-weight: bold;
    border-radius: 1px;
    transition: border-bottom-color 0.2s ease;

    &::after {
      position: absolute;
      font-family: "feathericons";
      content: "\e90d";
      right: 5px;
      bottom: 0; // keeps arrow at end when line wraps
      font-size: $fs-xs;
      color: rgba(255, 255, 255, 0.6);
      transition: right 0.2s ease;
    }

    &:hover {
      border-bottom-color: rgba($red, 0.8);

      &::after {
        color: rgba(255, 255, 255, 1);
        right: 4px;
      }
    }
  }
}

.\--dates {
  .row .row {
    width: 100%;
    overflow-x: scroll;

    .overflow {
      display: flex;
      width: 200%;
    }

    .\--2\@md { max-width: 13.25rem; }
  }

  .card.\--tile {
    height: auto !important;
    min-height: 0;

    @include mqbp_up(md) {
      margin-bottom: 10px;
    }

    .__date {
      padding-bottom: 0.75rem;
      margin-bottom: 1rem;
      position: relative;
      color: $gray-700;
      border-bottom: 1px solid $gray-200;
      width: 92%;

      &::after {
        content: "";
        position: absolute;
        width: 1.75rem;
        height: 3px;
        background-color: $red;
        bottom: -3px;
        left: 0;
      }
    }

    .__body { padding-bottom: 1rem; }

    .__title { font-size: $fs-sm; }

    &:last-child { border-right: 0 none; }
  }
}

.\--archive .__title {
  .__link {
    color: $gray-dark;
    font-weight: 300;
    position: relative;

    &:hover { color: $red; }

    .__icon {
      width: $fs-d4;
      height: $fs-d4;
      color: $red;
      stroke-width: 1;
      position: absolute;
      left: 0;
      top: 10%;
      z-index: 1;
    }
  }

  &.\+icon {
    .__link { padding-left: 2.5rem; }
  }

  h3 { color: $type-color; }

  .list-group {
    a,
    .__link {
      color: $gray-dark;

      &:hover { color: $red !important; }
    }
  }

  .\--more {
    &:hover { text-decoration: underline; }
  }
}

.\--topics {
  a { color: $gray-dark; }

  .__icon.\--lg {
    height: $fs-d5;
    width: $fs-d5;
    stroke-width: 1;
    color: $red;
    z-index: 1;
  }
}

@include mqbp_up(lg) {
  .\--dates,
  .\--services,
  .\--topics {
    h3 {
      width: 33%;
      margin: 0 auto;
    }
  }
}

.__title.\+line {
  position: relative;
  padding-left: 1.25rem;
  color: $type-color;
  font-weight: 300 !important;
  width: 80%;

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    top: 14%;
    left: 0;
    bottom: 5%;
    background-color: $red;
  }
}

.inline-break {
  display: inline;

  @include mqbp_up(md) {
    display: block;
  }
}
