// kernl
// wp
//
// styles specific to kernl(wp)

// Create a canvas effect with black backdrop and max width
#html {
  background-color: $black;

  body {
    background-color: #fff;
    position: relative; // to contain overlay masthead

    @include mqbp_up(xx) {
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 1700px;
    }
  }
}

// Adjust Banner when masthead is overlaying content
.masthead.\--overlay ~ main .\--banner {
  padding-top: 10rem;
}
