// Styles
// main
//
// imports styles for the project

// import kernl(ui)
@import "~kernl-ui/src/styles/main";

// Import everything from app
@import "./app/**/*";

td.edit-status {
  position: relative;
  padding-left: 0.75rem;
  border-left: 7px solid $gray-100;
  color: rgba(0, 0, 0, 0.7);

  &.\--assign {
    border-left-color: $gray-800;
    background-color: rgba($blue, 0.1);
    font-style: italic;
  }

  &.\--incomplete {
    border-left-color: $red;
    background-color: rgba($red, 0.05);
  }

  &.\--complete {
    border-left-color: $yellow;
    background-color: rgba($yellow, 0.05);
  }

  &.\--finalized {
    border-left-color: $green;
    background-color: rgba($green, 0.05);
  }
}

.--all {
  th {
    font-size: $fs-xs;
    color: $gray;
    vertical-align: middle;
  }

  td { position: relative; }

  .__excerpt {
    font-size: $fs-xs;
    color: $gray;
    line-height: 1.2;
  }

  .post-edit-link {
    position: absolute;
    right: 1rem;
    top: 0.85rem;
    height: auto;
    background: transparent;
    padding: 0;
    color: rgba($type-link, 0.7);
    transition: color 0.2s ease;

    i,
    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover { color: rgba($type-link, 1); }
  }

  .\--related {
    i,
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
