#html {
  background-color: $black;

  body {
    background-color: #fff;
    position: relative; // to contain overlay masthead

    @include mqbp_up(xx) {
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 1700px;
    }
  }
}

.section {
  // --
  // Immediate section header
  > .__header {
    .__title { font-weight: 300; }
  }
}
