#html {
  background-color: $gray-900;

  body {
    background-color: #fff;

    @include mqbp_up(xx) {
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 1700px;
    }
  }
}
