//
// For now, all registrar specific styling should go here :O
//

.bg--canvas { background: #f7f7f7; }

.masthead {
  border-bottom: 1px solid $gray-400;
}

.section {
  > .__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-200;
  }
}

.list-group {
  .__item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    &:hover {
      background: $gray-100;
      color: inherit;
    }
  }
}

.\--article {
  .header {
    padding-top: 3rem;
    padding-bottom: 0;

    .__title {
      padding-bottom: 1.25rem;
      border-bottom: 1px solid $gray-200;
      font-weight: 700;
    }
  }

  .alert {
    &.\--note {
      margin-bottom: 1.5rem;
      .__body { padding: 1rem; }
    }

    &.\--note { background: rgba($yellow, 0.25); }
    &.\--action { background: rgba($blue-light, 0.4); }
  }

  .tabcontent { background: #fff; }
}
