/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.post-edit-link,
.all-articles-link {
  position: fixed;
  bottom: 0;
  height: 2.75rem;
  text-transform: uppercase;
  font-size: 11px;
  color: white;
  z-index: 4000;

  &:hover {
    background: black;
    color: lighten($type-link, 15%);

    .edit-status { color: #fff; }
  }
}

.post-edit-link {
  right: 90px;
  padding: 1rem 1rem 1rem 2rem;
  background: rgba(0, 0, 0, 0.7);
}

.all-articles-link {
  text-transform: none;
  right: 0;
  width: 90px;
  text-align: center;
  padding: 1rem;
  background: rgba($blue-dark, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

span.edit-status {
  text-transform: none;
  margin-right: 0.75rem;
  padding-right: 0.75rem;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4.75rem;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &.\--assign::before {
    background-color: $red-light;
    box-shadow: 0 0 2px 2px rgba($red-light, 0.4);
  }

  &.\--incomplete::before {
    background-color: $orange-light;
    box-shadow: 0 0 2px 2px rgba($orange-light, 0.4);
  }

  &.\--complete::before {
    background-color: $yellow-light;
    box-shadow: 0 0 2px 2px rgba($yellow-light, 0.4);
  }

  &.\--finalized::before {
    background-color: $green;
    box-shadow: 0 0 2px 2px rgba($green, 0.4);
  }
}

td.edit-status {
  position: relative;
  padding-left: 0.75rem;
  border-left: 7px solid $gray-100;
  color: rgba(0, 0, 0, 0.7);

  &.\--assign {
    border-left-color: $gray-800;
    background-color: rgba($blue, 0.1);
    font-style: italic;
  }

  &.\--incomplete {
    border-left-color: $red;
    background-color: rgba($red, 0.05);
  }

  &.\--complete {
    border-left-color: $orange;
    background-color: rgba($orange-light, 0.05);
  }

  &.\--finalized {
    border-left-color: $green;
    background-color: rgba($green, 0.05);
  }
}

.--all {
  th {
    font-size: $fs-xs;
    color: $gray;
  }

  td { position: relative; }

  .__excerpt {
    font-size: $fs-xs;
    color: $gray;
    line-height: 1.2;
  }

  .post-edit-link {
    position: absolute;
    right: 1rem;
    top: 0.85rem;
    height: auto;
    background: transparent;
    padding: 0;
    color: rgba($type-link, 0.7);
    transition: color 0.2s ease;

    i,
    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover { color: rgba($type-link, 1); }
  }

  .\--related {
    i,
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: 1rem auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: 1rem;
  height: auto;
}

@include mqbp-up(sm) {
  .alignleft {
    float: left;
    margin-right: 1rem;
  }

  .alignright {
    float: right;
    margin-left: 1rem;
  }
}

/** Captions */
.wp-caption {
  // @extend .figure;
}

.wp-caption img {
  // @extend .figure-img;
  // @extend .img-fluid;
}

.wp-caption-text {
  // @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  // @extend .sr-only;
  // @extend .sr-only-focusable;
}
