// kernl
// events
//
// styles for tribe events calendar

.tribe {
  // elements to hide
  #tribe-bar-collapse-toggle,
  .tribe-bar-views-select,
  .tribe-events-visuallyhidden,
  .tribe-bar-views-toggle { display: none; }

  // elements to show only for screen readers
  label,
  .tribe-bar-date-filter,
  .label-tribe-bar-search,
  .tribe-events-ical,
  .tribe-bar-submit { @extend .sr--only; }

  #tribe-bar-views,
  .tribe-bar-views-option-list,
  .tribe-bar-views-option-day { float: left; }

  // Wrapper for month view
  .tribe-events-calendar {
    border: 0 none !important;

    a { color: $gray-500; }

    th {
      padding: 0.5rem;
      background: $gray-100;
      font-size: $fs-xs;
      border-left: 1px solid;
    }

    &,
    th,
    td { border-color: $gray-200 !important; }

    .hentry { padding: 0 0.5rem; }
  }

  // Toggle buttons for different views
  .tribe-bar-views-list {
    padding: 0;
    margin: 0;
    display: block !important;
    position: relative;
    z-index: 1;

    li {
      @extend .btn;
      @extend .btn.\--sm;

      display: inline;
      border-radius: 0;
    }

    a {
      @extend .btn;
      @extend .btn.\--sm;

      border-radius: 0;
    }

    .tribe-bar-active a {
      background: rgba($black, 0.1);
      font-weight: bold;
    }
  }

  .tribe-bar-views-option-month {
    float: right;
    margin-left: -1px;
  }

  // Search bar
  .tribe-bar-search-filter {
    float: right;

    input { padding: 0.25rem 0.75rem; }
  }

  // Previous & Next navigation items
  .tribe-events-sub-nav {
    padding: 0;
    text-align: initial;

    .tribe-events-nav-previous,
    .tribe-events-nav-next {
      width: 50%;
      margin: 0 !important;

      > a {
        color: $black;
        font-weight: 700;

        &:hover { text-decoration: underline; }
      }
    }

    .tribe-events-nav-previous {
      text-align: left;
      float: left;
    }

    .tribe-events-nav-next {
      text-align: right;
      margin-left: -4px;
      float: right;
    }
  }

  .tribe-events-list-separator-month {
    width: 100%;
    padding: 0 0 1.75rem;
    display: block;
    font-size: $fs-d3;
    font-weight: 300;
    text-transform: initial;
    text-align: center;
    max-width: none;
  }

  .tribe-events-page-title,
  #tribe-events-header { display: none; }

  // Custom month title
  .tribe-month-title {
    position: absolute;
    top: 2.5%;
    left: 0;
    right: 0;
    font-weight: 300;
    font-size: $fs-d3;
    text-align: center;
    text-transform: uppercase;
    display: block;
  }

  // Event title within thable
  .tribe-events-month-event-title {
    font-size: $fs-root;
    line-height: 1;
  }

  // Generic padding around calendar
  #tribe-events-content { padding: 1rem 0; }
}
