// kernl/app
// section

.section .section { padding-bottom: 1rem; }

// You can't keep DRY *and* satisfy stylelint 'no-descending-specificity'
// so we disable stylelint for these styles

/* stylelint-disable no-descending-specificity */

.\--kb-article {
  .section {
    .\--related {
      .__title { font-weight: 400; }
    }

    > .__header {
      .__title {
        font-size: $fs-d2;
        margin-top: 2rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 3rem;
          height: 3px;
          background-color: $red;
          top: -2rem;
          left: 0;
        }

        @include mqbp-up(d) {
          font-size: $fs-d3;
          text-indent: unset !important;
        }
      }
    }

    .__content {
      .section:first-child {
        > .__header {
          .__title {
            margin-top: 0;

            &::before { display: none; }
          }
        }
      }

      h2 {
        @extend .fw--300;

        font-size: $fs-d1;

        @include mqbp-up(d) {
          font-size: $fs-d2;
        }
      }

      h3,
      h4,
      h5,
      h6 {
        @extend .fw--300;

        font-size: $fs-root*1.1;

        @include mqbp-up(d) {
          font-size: $fs-d1;
        }
      }

      .card {
        &.bg--beige {
          max-width: 80%;
          background-color: lighten($beige, 15%);

          a {
            color: darken($gold, 15%);
            border-bottom: 1px dotted lighten($gold, 15%);
          }
        }

        .__title { font-size: $fs-d1; }
      }
    }

    &.\--banner {
      padding-top: 3rem;
      padding-bottom: 3rem;

      > .__header {
        .__title {
          font-size: $fs-d4 * 1.125;
          line-height: 1.1;
          margin-top: 0;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .\--action {
    .__link {
      display: block;
      padding: 0.25rem 0 0.25rem 1.25rem;
      position: relative;
      transition: all $transition;

      @include mqbp-up(t) {
        padding: 0.125rem 0 0.125rem 1.25rem;
      }

      .feather {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        color: $red-dark;
      }
    }
  }
}

// --
// move to kernl(ui) when ready

.section.\--banner {
  &.\+nav { align-items: initial; }
}

.masthead {
  .\+children {
    &:focus {
      .__submenu {
        display: block;
      }
    }
  }
}

.fs-carousel-enabled .fs-carousel-controls {
  height: 0;
}

.fs-carousel-enabled .fs-carousel-control {
  // pods
  height: 30px;
  top: 40px;
  margin-top: auto;
  transform: none;

  &::before {
    right: -2px;
    left: -2px;
  }

  &.fs-carousel-control_previous {
    left: 10px;
  }

  &.fs-carousel-control_next {
    right: 10px;
  }
  // end pods
}

// --
// end move to kernl(ui)

/* stylelint-enable */
