// kernl/app
// section

.section .section { padding-bottom: 1rem; }

.\--kb-article {
  .section {
    > .__header {
      .__title {
        font-size: $fs-d2;

        @include mqbp-up(d) {
          font-size: $fs-d3;
        }
      }
    }

    &.\--banner {
      padding-top: 3rem;
      padding-bottom: 3rem;

      > .__header {
        .__title {
          font-size: $fs-d4 * 1.125;
          line-height: 1.1;
        }
      }
    }
  }

  .\--action {
    .__link {
      display: block;
      padding: 0.125rem 0 0.125rem 1.25rem;
      position: relative;
      transition: all $transition;

      .feather {
        position: absolute;
        left: 0;
        top: 3px;
      }

      &:hover {
        color: $red-dark;
      }
    }
  }
}
